*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);

    /* COMMON COLORS */
    --primary-color: rgb(223, 252, 223);
    --secondary-color: rgb(22, 172, 134);
    --board-color: palegreen;
    --elements-color: rgb(255, 129, 107);
    --elements-hover-color: rgb(204, 133, 121); 
}

body {
    background-color: var(--primary-color);
    font-family: 'Itim', cursive;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 2.5rem;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--board-color);
    border: 1px solid rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

/* If the cell already contains X or CIRCLE we will not allow to override it */
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: var(--elements-color);
}


/* 
    NOTE: We have used 'not' selector here it will not apply the affect if the cell already
    has .x class or .circle class

*/

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: var(--elements-hover-color);
    opacity: 0.3;
}

/************* MAKING 'X' SHAPE **************/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/************* MAKING 'O' SHAPE **************/
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--board-color);
}

/*********** STYLING WINNING MESSAGE *************/
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

/*************** FOOTER ****************/
.copyright {
    opacity: .8;
}

/*********** SOCIAL MEDIA ICONS ************/

.icon-bar {
    position: fixed;
    top: 50vh;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hide-icon-bar {
    display: none;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background: rgb(15, 15, 15);
}

.linkedin {
    border-top-right-radius: 5px;
    background: #007bb5;
}

.github {
    background-color: rgb(61, 61, 61);
}

.twitter {
    background: #55acee;
}

.insta {
    border-bottom-right-radius: 5px;
    background: linear-gradient(20deg, #f6d373, #d62977, #7d32aa);
}

.right-arrow {
    position: fixed;
    top: 35%;
    left: 3px;
    color: grey;
    font-size: 1.75rem;
    text-align: left;
    width: 100%;
    display: none !important;
}

.show-right-arrow {
    display: block !important;
}

.left-arrow {
    color: gray;
    font-size: 1.75rem;
    text-align: right;
    visibility: hidden;
    width: 100%;
}

.show-left-arrow {
    visibility: visible;
}

/************* Media Query Section ************/

@media (max-width: 650px) {
    
    h1 {
        font-size: 2.35rem;
    }

    .icon-bar {
        display: none;
    }

    .right-arrow {
        display: block !important;
    }
}